.rollDiceBtn{
    &__1{
        width: 90%;
        margin: 5%;
        background-image: url(img/goldGradient.svg);
        border: none;
        height: 30px;
    }
    &__2{
        width: 90%;
        margin: 5%;
        background-image: url(img/goldGradient.svg);
        border: none;
        height: 30px;
    }
}

.dice{
    &__1{
        width: 70%;
        margin: 15%;
        margin-top: 0;
    }
    &__2{
        width: 70%;
        margin: 15%;
        margin-top: 0;
    }
}

.movePawnBtn{
    &__1{
        width: 90%;
        margin: 5%;
        background-image: url(img/goldGradient.svg);
        border: none;
        height: 30px;
    }
    &__2{
        width: 90%;
        margin: 5%;
        background-image: url(img/goldGradient.svg);
        border: none;
        height: 30px;
    }
}

.pawn{
    &__one{
        position: absolute;
        width: 4vw;
        height: 4vw;
        top: 0.5vw;
        left: 0.5vw;
        z-index: 100;
    }
    &__two{
        position: absolute;
        width: 4vw;
        height: 4vw;
        top: 0.5vw;
        left: 5vw;
        z-index: 100;
    }
    
    
}

.playerOne{
    float: left;
    height: 37vw;
    margin-top: 13vw;
    margin-left: 4vw;
    padding: 12px;
    width: 14vw;
    border-style: solid;
    border-width: 2px;
    border-image: url(img/goldGradient.svg) 0.5% round;
    background-color: black;
    -webkit-box-shadow: 3px 6px 18px 8px rgba(0,0,0,0.54);
    -moz-box-shadow: 3px 6px 18px 8px rgba(0,0,0,0.54);
    box-shadow: 3px 6px 18px 8px rgba(0,0,0,0.54);
    text-align: center;
    
}

.playertwo{
    float: right;
    height: 37vw;
    margin-top: 13vw;
    margin-right: 4vw;
    padding: 12px;
    width: 14vw;
    border-style: solid;
    border-width: 2px;
    border-image: url(img/goldGradient.svg) 0.5% round;
    background-color: black;
    -webkit-box-shadow: 3px 6px 18px 8px rgba(0,0,0,0.54);
    -moz-box-shadow: 3px 6px 18px 8px rgba(0,0,0,0.54);
    box-shadow: 3px 6px 18px 8px rgba(0,0,0,0.54);
    text-align: center;
}


.boardgame{
    &__brick{
        border: none;
        text-align: center;
        padding: 1%;
        color: white;
        font-family: fairy-tale-jf, sans-serif;
        font-size: 2em;
        letter-spacing: 1px;
    }
}

#brick01{
    position: absolute;
    top: 44vw;
    left: 68vw;
    height: 6vw;
    width: 13vw;
}

#brick02{
    position: absolute;
    top: 44vw;
    left: 54.5vw;
    height: 6vw;
    width: 13.5vw;
}

#brick03{
    position: absolute;
    top: 44vw;
    left: 44vw;
    height: 6vw;
    width: 10.5vw;
}
#brick04{
    position: absolute;
    top: 44vw;
    left: 35vw;
    height: 6vw;
    width: 9vw;
}
#brick05{
    position: absolute;
    top: 44vw;
    left: 23vw;
    height: 6vw;
    width: 12vw;
}

#brick06{
    position: absolute;
    top: 39vw;
    left: 24.5vw;
    height: 5vw;
    width: 12vw;
}
#brick07{
    position: absolute;
    top: 39vw;
    left: 36.5vw;
    height: 5vw;
    width: 14vw;
}

#brick08{
    position: absolute;
    top: 39vw;
    left: 50.5vw;
    height: 5vw;
    width: 10.5vw;
}

#brick09{
    position: absolute;
    top: 39vw;
    left: 61vw;
    height: 5vw;
    width: 12vw;
}

#brick13{
    position: absolute;
    top: 33vw;
    left: 32vw;
    height: 6vw;
    width: 10vw;
}

#brick12{
    position: absolute;
    top: 33vw;
    left: 42vw;
    height: 6vw;
    width: 11vw;
}

#brick11{
    position: absolute;
    top: 33vw;
    left: 53vw;
    height: 6vw;
    width: 14vw;
}

#brick10{
    position: absolute;
    top: 33vw;
    left: 67vw;
    height: 6vw;
    width: 12vw;
}


#brick14{
    position: absolute;
    top: 28vw;
    left: 22vw;
    height: 5vw;
    width: 13vw;
}
#brick15{
    position: absolute;
    top: 28vw;
    left: 35vw;
    height: 5vw;
    width: 14vw;
}

#brick16{
    position: absolute;
    top: 28vw;
    left: 49vw;
    height: 5vw;
    width: 11vw;
}
#brick17{
    position: absolute;
    top: 28vw;
    left: 60vw;
    height: 5vw;
    width: 9vw;
}

#brick18{
    position: absolute;
    top: 28vw;
    left: 69vw;
    height: 5vw;
    width: 11vw;
}
#brick19{
    position: absolute;
    top: 23.5vw;
    left: 61vw;
    height: 4.5vw;
    width: 12vw;
}

#brick20{
    position: absolute;
    top: 23.5vw;
    left: 50vw;
    height: 4.5vw;
    width: 11vw;
}

#brick21{
    position: absolute;
    top: 23.5vw;
    left: 38vw;
    height: 4.5vw;
    width: 12vw;
}
#brick22{
    position: absolute;
    top: 23.5vw;
    left: 28vw;
    height: 4.5vw;
    width: 10vw;
}

#brick23{
    position: absolute;
    top: 19vw;
    left: 25vw;
    height: 4.5vw;
    width: 10vw;
}

#brick24{
    position: absolute;
    top: 19vw;
    left: 35vw;
    height: 4.5vw;
    width: 10vw;
}
#brick25{
    position: absolute;
    top: 19vw;
    left: 45vw;
    height: 4.5vw;
    width: 11vw;
}
#brick26{
    position: absolute;
    top: 19vw;
    left: 56vw;
    height: 4.5vw;
    width: 8vw;
}
#brick27{
    position: absolute;
    top: 19vw;
    left: 64vw;
    height: 4.5vw;
    width: 10vw;
}

#brick28{
    position: absolute;
    top: 13vw;
    left: 70vw;
    height: 6vw;
    width: 10vw;
}
#brick29{
    position: absolute;
    top: 13vw;
    left: 61vw;
    height: 6vw;
    width: 9vw;
}

#brick30{
    position: absolute;
    top: 13vw;
    left: 48vw;
    height: 6vw;
    width: 13vw;
}

#brick31{
    position: absolute;
    top: 13vw;
    left: 36vw;
    height: 6vw;
    width: 12vw;
}

#brick32{
    position: absolute;
    top: 13vw;
    left: 23vw;
    height: 6vw;
    width: 13vw;
}

