.cardContainer{
    margin-left: 10%;
    margin-right: 10%;
}

.card{
    float: left;
    height: 250px;
    margin: 1%;
    padding: 12px;
    width: 18%;
    border-style: solid;
    border-width: 2px;
    border-image: url(img/goldGradient.svg) 0.5% round;
    background-color: black;
    -webkit-box-shadow: 3px 6px 18px 8px rgba(0,0,0,0.54);
    -moz-box-shadow: 3px 6px 18px 8px rgba(0,0,0,0.54);
    box-shadow: 3px 6px 18px 8px rgba(0,0,0,0.54);
    text-align: center;
    &__image{
        margin-top: 6%;
        margin-bottom: 4%;
        width: 120px;

    }
    &__btn{
        &--left{
            width: 45%;
            margin-top: 12px;
            float: left;
            background-image: url(img/goldGradient.svg);
            border: none;
            height: 30px;
            font-family: ltc-caslon-pro, serif;
            font-weight: 400;
            font-style: normal;
            font-size: 1.1em;
            line-height: 0.9;

        }
        &--right{
            width: 45%;
            margin-top: 12px;
            float: right;
            background-image: url(img/goldGradient.svg);
            border: none;
            height: 30px;
            font-family: ltc-caslon-pro, serif;
            font-weight: 400;
            font-style: normal;
            font-size: 1.1em;
            line-height: 0.9;
            
        }
    }
}

.toGameButton{
    width: 78.6%;
    margin-left: 10.7%;
    margin-right: 10.7%;
    margin-top: 12px;
    float: left;
    background-image: url(img/goldGradient.svg);
    background-size: cover;
    border: solid 2px black;
    height: 60px;
    -webkit-box-shadow: 3px 6px 18px 8px rgba(0,0,0,0.54);
    -moz-box-shadow: 3px 6px 18px 8px rgba(0,0,0,0.54);
    box-shadow: 3px 6px 18px 8px rgba(0,0,0,0.54);
    font-family: fairy-tale-jf, sans-serif;
    font-size: 2.1vw;
    text-align: center;
}