@import url("https://use.typekit.net/mqw0wrd.css");

.background{
    &--normal{
        background-image: url('img/indexBackground.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    &--game{
        background-image: url('img/gameBackground.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

.allertbox{
    position: absolute;
    z-index: 100 !important;
    top: 220px;
    left: 30%;
    width: 40%;
    height: fit-content;
    padding: 30px;
    padding-bottom: 70px;
    background-color: black;
    border-style: solid;
    border-width: 2px;
    border-image: url(img/goldGradient.svg) 0.5% round;

    -webkit-box-shadow: 1px 2px 18px 8000px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 2px 18px 8000px rgba(0,0,0,0.6);
    box-shadow: 18px 2px 18px 8000px rgba(0,0,0,0.6);
    text-align: center;
    &__text{
        font-family: fairy-tale-jf, sans-serif;
        letter-spacing: 1px;
        color: #b09238;
        font-size: 40px;
    }
    &__closer{

        z-index: 200 !important;
        position: absolute;
        bottom: 30px;
        left: 
        42%;
        width: 15%;
        background-image: url(img/goldGradient.svg);
        border: none;
        height: 30px;
    }
}

.titlebox{

    margin-top: 11.3%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    background-color: rgba(255,255,255,0.4);

    -webkit-box-shadow: 0 0 10px 10px rgba(255,255,255,0.4);
    -moz-box-shadow: 0 0 10px 10px rgba(255,255,255,0.4);
    box-shadow: 0 0 10px 10px rgba(255,255,255,0.4);
}