/*sass --watch styles.scss styles.css*/
@import url("https://use.typekit.net/mqw0wrd.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-family: fairy-tale-jf, sans-serif;
  letter-spacing: 1px;
  color: #b09238;
}

h1 {
  font-family: fairy-tale-jf, sans-serif;
  letter-spacing: 1px;
  color: #33180e;
  font-size: 2.1vw;
}

a {
  text-decoration: none;
  color: black;
}

.background--normal {
  background-image: url("img/indexBackground.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.background--game {
  background-image: url("img/gameBackground.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.allertbox {
  position: absolute;
  top: 220px;
  left: 30%;
  width: 40%;
  height: 250px;
  padding: 30px;
  background-color: black;
  border-style: solid;
  border-width: 2px;
  border-image: url(img/goldGradient.svg) 0.5% round;
  -webkit-box-shadow: 1px 2px 18px 8000px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 2px 18px 8000px rgba(0, 0, 0, 0.6);
  box-shadow: 18px 2px 18px 8000px rgba(0, 0, 0, 0.6);
  text-align: center;
}
.allertbox__text {
  font-family: fairy-tale-jf, sans-serif;
  letter-spacing: 1px;
  color: #b09238;
  font-size: 40px;
}
.allertbox__closer {
  position: absolute;
  bottom: 30px;
  left: 42%;
  width: 15%;
  background-image: url(img/goldGradient.svg);
  border: none;
  height: 30px;
}

.titlebox {
  margin-top: 11.3%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.4);
}

.cardContainer {
  margin-left: 10%;
  margin-right: 10%;
}

.card {
  float: left;
  height: 250px;
  margin: 1%;
  padding: 12px;
  width: 18%;
  border-style: solid;
  border-width: 2px;
  border-image: url(img/goldGradient.svg) 0.5% round;
  background-color: black;
  -webkit-box-shadow: 3px 6px 18px 8px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 3px 6px 18px 8px rgba(0, 0, 0, 0.54);
  box-shadow: 3px 6px 18px 8px rgba(0, 0, 0, 0.54);
  text-align: center;
}
.card__image {
  margin-top: 6%;
  margin-bottom: 4%;
  width: 120px;
}
.card__btn--left {
  width: 45%;
  margin-top: 12px;
  float: left;
  background-image: url(img/goldGradient.svg);
  border: none;
  height: 30px;
}
.card__btn--right {
  width: 45%;
  margin-top: 12px;
  float: right;
  background-image: url(img/goldGradient.svg);
  border: none;
  height: 30px;
}

.toGameButton {
  width: 78.6%;
  margin-left: 10.7%;
  margin-right: 10.7%;
  margin-top: 12px;
  float: left;
  background-image: url(img/goldGradient.svg);
  background-size: cover;
  border: solid 2px black;
  height: 60px;
  -webkit-box-shadow: 3px 6px 18px 8px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 3px 6px 18px 8px rgba(0, 0, 0, 0.54);
  box-shadow: 3px 6px 18px 8px rgba(0, 0, 0, 0.54);
  font-family: fairy-tale-jf, sans-serif;
  font-size: 2.1vw;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
